:root {
    --header-height: 32px;
}
body {
    background-color: black;
    color: white;
}

#header {
    height: var(--header-height);
    font-size: 14px;
    display: flex;
    text-transform: lowercase;
    align-items: center;
    font-family: 'JetBrains Mono';
}

#logo {
    flex-grow: 1;
    margin-left: 4px;
    /* Use logo without text on top left*/
    background-image: url('logo-notext.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 24px;

    /* Title should be center of header */
    height: 100%;
    display: flex;
    align-items: center;

}

header nav {
    display: flex;
    padding: 4px;
}

header nav a {
    background-color: black;
    color: rgb(209, 243, 255);
    border-radius: 0px;
    font-family: inherit;
    font-size: inherit;
    padding: 0px 4px;
}

header nav a.disabled {
    color:grey;
}

header nav a.copying {
    pointer-events: none;
    text-decoration: none;
}


#terminal {
    position: absolute;
    top: var(--header-height);
    bottom: 0px;
    left: 0px;
    right: 0px;
}